.header {
    padding: 27px 0 0;
    margin: 0 0 90px;
}

.header__inner {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
}

.header__btn-nav {
    width: 151px;
    height: 54px;
    background-color: var(--bg-blue);
    border: none;
    border-radius: 10px;
    font-size: 22px;
    line-height: 1.5;
    color: var(--white);
    cursor: pointer;
    transition-duration: 0.5s;
    padding: 9px 28px;
}

.header__btn-nav:hover {
    background-color: var(--bg-blue-hover);
    transition: background-color 0.5s linear;
}

.header__search {
    position: relative;
}

.header__search-input {
    width: 757px;
    min-height: 54px;
    border: none;
    border-radius: 30px;
    background-color: var(--input-bg);
    outline: none;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--input-text);
    padding: 18px 40px;
}

.header__search-btn {
    background-color: var(--bg-blue);
    border: none;
    padding: 12px 37px;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition-duration: 0.5s;
}

.header__search-btn:hover {
    background-color: var(--bg-blue-hover);
    transition: background-color 0.5s linear;
}

.shop-nav {
    justify-self: end;
}

.shop-nav__list {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 70px;
}

.shop-nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    text-decoration: none;
    color: var(--shop__color);
    transition-duration: 0.5s;
}

.shop-nav__link:hover {
    color: var(--bg-blue-hover);
    text-decoration: underline;
    transition: color 0.2s linear
}

.shop-nav__item {
    display: grid;
    justify-content: center;
    padding: 6px 0 0;
}

.shop-nav__icon {
    justify-self: center;
    margin: 0 0 10px;
}


.basket {
    position: relative;
}

.basket__count {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 14px;
    width: 18px;
    height: 18px;
    padding: 4px;
    color: var(--basket-color);
    font-weight: 700;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}