.promo {
        color: var(--white);
        line-height: 1.3;
        font-weight: 700;
        padding:  0 0 189px;
}

.promo__list {
    display: grid;
    grid-template-columns: repeat(6, 245px);
    grid-template-rows: 480px repeat(4, 245px);
    gap: 60px;
}

.promo__item {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    font-weight: 700;
    line-height: 1.3;
    font-size: 30px;
}

.promo__item1 {
    grid-column: 1 / 7;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/promo/item01.jpg);
}

.promo__item1-info {
    font-size: 70px;
    padding: 145px 0 0 112px;
    margin: 0 0 100px;
}

.promo__item1-count {
    text-align: center;
    padding: 0 0 40px;
}

.promo__item1-count-end {
    font-size: 16px; 
    margin: 0;
    padding: 0;
}

.promo__item1-count-number {
    font-size: 60px;
}

.promo__item1-count-interval {
    font-size: 32px;
    margin: 0 30px 0 0;
}

.promo__item1-count-interval:last-child {
    margin: 0;
}

.promo__item2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url(../image/promo/item02.jpg);
}

.promo__item2-text {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    padding: 97px 0 20px 20px;
    max-width: 180px;
}

.promo__item2-text_normal {
    font-weight: 400;
}

.promo__item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../image/promo/item03.jpeg);
    position: relative;
}

.promo__item3::after {
    content: '-25%';
    background-color: var(--circle-bg);
    padding: 24px 8px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.promo__item3-text {
    padding: 78px 0 0 14px;
}

.promo__item4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-image: url(../image/promo/item04.jpg);
    position: relative;
}

.promo__item4::after {
    content: '-40%';
    background-color: var(--circle-bg);
    padding: 24px 8px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
}


.promo__item5 {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
    background-image: url(../image/promo/item05.jpg);
    position: relative;
}

.promo__item5-text {
    background-color: #38C0EB;
    padding: 26px 24px;
    border-radius: 20px; 
    font-size: 40px;
    line-height: 120%;
    font-weight: 400;
    position: absolute;
    left: 20px;
    bottom: 22px;
    max-width: 500px;
}

.promo__item5-text_bold {
    font-weight: 700;
}

.promo__item6 {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.46%, rgba(0, 0, 0, 0.2) 100%), url(../image/promo/item06.jpg);
}

.promo__item6-text {
    font-size: 40px;
    padding: 104px 0 0 30px;
    max-width: 450px;
}

.promo__item7 {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%), url(../image/promo/item07.jpg);
    position: relative;
}

.promo__item7::after {
    content: '-15%';
    background-color: var(--circle-bg);
    padding: 24px 8px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-weight: 700;
}

.promo__item7-text {
    font-size: 40px;
    padding: 160px 0 0 30px;
}

.promo__item8 {
    grid-column:  1 / 5;
    grid-row: 4 / 6;
    background-image: url(../image/promo/item08.jpg);
    position: relative;
}

.promo__item8-text {
    color: #F91155;
    background-color: var(--white);
    padding: 32px 41px;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.promo__item9 {
    grid-column: 5 / 6;
    grid-row: 4 / 6;
    background-image: url(../image/promo/item09.jpg);
    position: relative;
}

.promo__item9::after {
    content: '-55%';
    background-color: var(--circle-bg);
    padding: 24px 8px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.promo__item10 {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
    background-image: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(../image/promo/item10.jpg);
    position: relative;
} 

.promo__item10::after {
    content: '-25%';
    background-color: var(--circle-bg);
    padding: 24px 8px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.promo__item10-text {
    font-size: 30px;
    padding: 147px 0 0 20px;
}

.promo__item11 {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
    background-image: url(../image/promo/item11.jpg);
}