* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    line-height: 33px;
    color: #2d2d2d;
}

.wrapper {
    max-width: 1770px;
    margin: 100px auto 86px auto;
}

.main-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 58px;
}

.text {
    margin-bottom: 33px;
}

.text:nth-of-type(2) {
    margin-bottom: 50px;
}

.nav-list {
    font-size: 16px;
    line-height: 24px;
    margin-left: 18px;
    margin-bottom: 50px;
}

.nav-link {
    color: #525252;
    text-decoration: none;
}

.image {
    width: 1095px;
    height: 560px;
    margin-bottom: 50px;
}

.based-part {
    max-width: 1095px;
    margin-bottom: 13px;
}

.final-part {
    max-width: 1095px;
}

.title-bold {
    font-size: 22px;
    font-weight: 700;
}

.title-regular {
    font-size: 22px;
    font-weight: 400;
}
