:root {
    --bg-blue:#3670C7;
    --bg-blue-hover: #22487f;
    --white: #fff;
    --input-bg:#EFEFEF;
    --input-text: #8F8F8F;
    --shop-color: #2D2D2D;
    --circle-bg: #FFBD13;
    --basket-color: #3670C7;
}